JWT_SECRET=reemplazar_con_clave_secreta
#No es necesario colocar la api de gemini si no tienes una generada en Google AI Studio, El sistema funciona sin necesidad de ello.
GEMINI_API_KEY=reemplazar_con_tu_api_key_de_gemini